<style>
table {
    border-collapse:collapse;
    border-spacing: 0; 
}

table td {
    padding: 2px;
}
</style>

<div class="modal-header my-modal-header">
	<span class="modal-header-title">Error on the server side!</span>
</div>

<div class="modal-body my-modal-body" style="overflow: auto">
    <!--div class="addinfo-section scrollme" ng-scrollbar rebuild-on="rebuild:me"-->
	<table>
		<tr>
			<td>Status:</td>
			<td> <b> {{error.status}} </b> </td>
		</tr>
		<tr>
			<td>Status text:</td>
			<td> <b> {{error.statusText}} </b> </td>
		</tr>
        <tr>
            <td colspan="2"><hr></td>
        </tr>
	</table>
    <accordion close-others="oneAtATime">
        <accordion-group heading="Details">
            <table>
                <tr>
                    <td nowrap valign="top">The exception's class:</td>
                    <td> <b> {{error.exceptionClass}} </b> </td>
                </tr>
                <tr>
                    <td nowrap valign="top">The exception's message:</td>
                    <td> <b> {{error.exceptionMessage}} </b> </td>
                </tr>
                <tr>
                    <td colspan="2" nowrap valign="top">The exception's stacktrace:</td>
                </tr>
                <tr>
                    <td colspan="2"> <div style="max-height:180px; max-width:840px; overflow:auto;"><b> {{error.exceptionStackTrace}} </b> </div> </td>
                </tr>
            </table>
        </accordion-group>
    </accordion>

</div>

<div class="modal-footer">
	<button type="button" class="btn" data-ng-click="closeShowExceptionModal()">Close</button>
</div>