/* for editable cell textbox*/
.editableCellTextbox span {
	cursor: pointer;
}
.editableCellTextbox input {
	display: none;
}
.editableCellTextbox.active span {
	display: none;
}
.editableCellTextbox.active input {
	display: inline-block;
}

/* for editable cell combobox*/
.editableCellCombobox span {
	cursor: pointer;
}
.editableCellCombobox select {
	display: none;
}
.editableCellCombobox.active span {
	display: none;
}
.editableCellCombobox.active select {
	display: inline-block;
}

/* for custom table */
table.custom_table_directive {
    padding: 10px;
    border-spacing: 4px;
    border-collapse: separate;
    background-color: rgb(207,205,177);
}

table.custom_table_directive th {
    cursor: pointer;
}

table.custom_table_directive tr.selected {
    background-color: grey;
}

table.custom_table_directive tr:nth-child(even) {
    background-color: #EBEADE;
}

table.custom_table_directive tr:nth-child(even).selected {
    background-color: grey;
}