<div class="modal-header my-modal-header">
    <span class="modal-header-title">Editing the template text of the request</span>
</div>

<div class="modal-body my-modal-body" >
    <textarea ng-model="requestTemplateText" rows="20" cols="109" style="resize:vertical ;"></textarea>
</div>

<div class="modal-footer">
   <button type="submit" ng-click="okEditRequestTemplateText()" class="btn btn-primary" ng-disabled="!(!!requestTemplateText)">Ok</button>
   <button type="submit" ng-click="cancelEditRequestTemplateText()" class="btn btn-warning">Cancel</button>
</div>