#loadingDiv {  
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:grey;
    opacity: .8;
 }

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -400px; /* -1 * image width / 2 */
    margin-top: -400px;  /* -1 * image height / 2 */
    display: block;
}

html * {
/* The !important ensures that nothing can override what you've set in this style (unless it is also important) */
    font-size: 16px;
    color: #000;
    font-family: sans-serif !important;
}

td.menuItem, a.menuItem:link, a.menuItem:visited {
    display: block;
    font-weight: normal;
    width: 120px;
    text-align: left;
    padding: 2px;
    text-decoration: none;
    text-transform: none;
    width: 100%;
}

a.menuItem:hover, a.menuItem:active {
    background-color: rgb(216,214,218);
}

.header_background_gradient {
	width: 100%;
	height: 100%;
    border:2px #B6B489 solid;
    background-image: -moz-linear-gradient(left top, #B6B489 0%, #EBEADE 100%);
    background-image: -webkit-gradient(linear, left top, right bottom,
                              color-stop(0.00, #B6B489),   
                              color-stop(1.00, #EBEADE));
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',
            startColorstr=#B6B489, endColorstr=#EBEADE, GradientType=1);
    display:table;
}

.footer_background_gradient {
    width: 100%;
    height: 100%;
	border:2px #B6B489 solid;
    background-image: -moz-linear-gradient(left top, #EBEADE 0%, #B6B489 100%);
    background-image: -webkit-gradient(linear, left top, right bottom,
                              color-stop(0.00, #EBEADE),   
                              color-stop(1.00, #B6B489));
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',
            startColorstr=#EBEADE, endColorstr=#B6B489, GradientType=1);
}

.menu_background_gradient {
    width: 100%;
    height: 100%;
    background-color: #EBEADE;
}

.list_main_title {
	width: 100%;
	font-size: 150%;
	text-decoration: underline;
	font-weight: bolder;
	padding-left: 70px;
}

table.modal-table td {
	padding: 5px;
}

table.modal-table tr:nth-child(even) {
	background-color: #EBEADE;
}

table.table-odd-rows tr:nth-child(odd) {
	background-color: #B6B489;
}

.my-modal-header {
	background-color: #B6B489;
}

.my-modal-body {
    background-color: #EBEADE;
}

.modal-header-title {
    font-size: 20px;
    font-weight: bold;	
}

.modal-body-label {
    font-weight: bold;  
}

.header-title {
    font-size: 23px;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#selectCacheManagementView {
    margin: 20px;
    border: 1px solid #111;
    background: transparent;
    width: 110px;
    padding: 5px;
    border: 1px solid #ccc;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}