<div class="modal-header my-modal-header">
	<span class="modal-header-title">Refreshing the cache</span>
</div>

<div class="modal-body my-modal-body">
    <span class="modal-body-label">Server:</span> {{data.server}} <br>
    <div ng-show="data.cacheManagementView == 'SERVICE' && data.itIsAServiceOrPoiOrServer != 'SERVER'"><span class="modal-body-label">Service: </span>{{data.service_or_poi}}</div>
    <div ng-show="data.cacheManagementView == 'POI' && data.itIsAServiceOrPoiOrServer != 'SERVER'"><span class="modal-body-label">POI: </span>{{data.service_or_poi}}</div>
    <div ng-show="data.cacheManagementView == 'BOTH' && data.itIsAServiceOrPoiOrServer == 'SERVICE'"><span class="modal-body-label">Service: </span>{{data.service_or_poi}}</div>
    <div ng-show="data.cacheManagementView == 'BOTH' && data.itIsAServiceOrPoiOrServer == 'POI'"><span class="modal-body-label">POI: </span>{{data.service_or_poi}}</div>
    <br>
	Please click on the button 'Do it!' if you want to refresh the cache!<br>
	<div ng-show="data.cacheManagementView == 'BOTH' && data.itIsAServiceOrPoiOrServer == 'SERVICE'"><font color="red">Please be aware that all the POIs under the service will be refreshed!!</font></div>
	<div ng-show="data.itIsAServiceOrPoiOrServer == 'SERVER' && data.cacheManagementView == 'SERVICE'"><font color="red">Please be aware that all the services in the server will be refreshed!!</font></div>
	<div ng-show="data.itIsAServiceOrPoiOrServer == 'SERVER' && data.cacheManagementView == 'POI'"><font color="red">Please be aware that all the POIs in the server will be refreshed!!</font></div>
	<div ng-show="data.itIsAServiceOrPoiOrServer == 'SERVER' && data.cacheManagementView == 'BOTH'"><font color="red">Please be aware that all the services and POIs in the server will be refreshed!!</font></div>
	<br>

	<!-- for SERVICE comparison -->    
    <div ng-show="data.status == 'OLD' && data.cacheManagementView == 'SERVICE'">
    <table class="modal-table table-odd-rows">
        <tr>
            <td></td>
            <td><span class="modal-body-label">In the cache</span></td>
            <td><span class="modal-body-label">In the database</span></td>
            <td></td>
        <tr>
        <tr>
        	<td valign="top"><span class="modal-body-label">Name</span></td>
        	<td style="width: 330px; word-break: break-all">{{map.name[0]}}</td>
        	<td style="width: 330px; word-break: break-all">{{map.name[1]}}</td>
        	<td></td>
        </tr>
        <tr>
        	<td valign="top"><span class="modal-body-label">Service Type</span></td>
        	<td style="width: 330px; word-break: break-all">{{map.serviceType[0]}}</td>
        	<td style="width: 330px; word-break: break-all">{{map.serviceType[1]}}</td>
        	<td></td>
        </tr>
        <tr ng-show="map.serviceType[1] == 'Webservice'">
        	<td valign="top"><span class="modal-body-label">SOAP Action</span></td>
        	<td style="width: 330px; word-break: break-all">{{map.soapAction[0]}}</td>
        	<td style="width: 330px; word-break: break-all">{{map.soapAction[1]}}</td>
        	<td></td>
        </tr>
        <tr ng-show="map.serviceType[1] == 'Webservice'">
        	<td valign="top"><span class="modal-body-label">Namespaces</span></td>
        	<td> <div style="width: 330px; word-break: break-all" ng-repeat="namespace in map.namespaces[0]">{{namespace}}</div></td>
        	<td> <div style="width: 330px; word-break: break-all" ng-repeat="namespace in map.namespaces[1]">{{namespace}}</div></td>
        	<td></td>
        </tr>
        <tr>
        	<td valign="top">
        	   <span ng-show="map.serviceType[1] != 'Database'" class="modal-body-label">Endpoints</span>
        	   <span ng-show="map.serviceType[1] == 'Database'" class="modal-body-label">Datasource JNDI</span>
        	</td>
        	<td valign="top"> <div style="width: 330px; word-break: break-all" ng-repeat="endpoint in map.endpoints[0]">- {{endpoint}}</div></td>
        	<td valign="top"> <div style="width: 330px; word-break: break-all" ng-repeat="endpoint in map.endpoints[1]">- {{endpoint}}</div></td>
        	<td></td>
        </tr>
        <tr ng-show="map.serviceType[1] != 'Database'">
        	<td valign="top"><span class="modal-body-label">Request Template Text</span></td>
        	<td valign="top"> <textarea cols="42" rows="10">{{map.requestTemplateText[0]}}</textarea> </td>
        	<td valign="top"> <textarea cols="42" rows="10">{{map.requestTemplateText[1]}}</textarea> </td>
            <td>{{map.requestTemplateText[0]==map.requestTemplateText[1] ? "equal" : "not equal"}}</td>
        </tr>
        <tr ng-show="map.serviceType[1] == 'Database'"/>
        <tr ng-show="map.serviceType[1] == 'Database'">
            <td valign="top"><span class="modal-body-label">Database query</span></td>
            <td valign="top"> <textarea cols="42" rows="10">{{map.databaseQuery[0]}}</textarea> </td>
            <td valign="top"> <textarea cols="42" rows="10">{{map.databaseQuery[1]}}</textarea> </td>
            <td>{{map.databaseQuery[0]==map.databaseQuery[1] ? "equal" : "not equal"}}</td>
        </tr>
        <tr ng-show="map.serviceType[1] == 'REST'">
            <td valign="top"><span class="modal-body-label">HTTP method</span></td>
            <td style="width: 330px; word-break: break-all">{{map.httpMethod[0]}}</td>
            <td style="width: 330px; word-break: break-all">{{map.httpMethod[1]}}</td>
            <td></td>
        </tr>
    </table>
    </div>

	<!-- for POI comparison -->
    <div ng-show="data.status == 'OLD' && data.cacheManagementView == 'POI'" style="max-height:320px; max-width:800px; overflow:auto;">
    <table class="modal-table table-odd-rows">
        <tr>
            <td></td>
            <td><span class="modal-body-label">In the cache</span></td>
            <td><span class="modal-body-label">In the database</span></td>
            <td></td>
        <tr>
        <tr>
        	<td valign="top"><span class="modal-body-label">Name</span></td>
        	<td>{{map.name[0]}}</td>
        	<td>{{map.name[1]}}</td>
        </tr>

        <tr>
            <td valign="top"><span class="modal-body-label">Single value</span></td>
            <td>{{map.singleValue[0]}}</td>
            <td>{{map.singleValue[1]}}</td>
        </tr>
        <tr>
            <td valign="top"><span class="modal-body-label">Encryption needed</span></td>
            <td>{{map.encryptionNeeded[0]}}</td>
            <td>{{map.encryptionNeeded[1]}}</td>
        </tr>

        <tr>
        	<td valign="top"><span class="modal-body-label">Service Name</span></td>
        	<td>{{map.serviceDTO_name[0]}}</td>
        	<td>{{map.serviceDTO_name[1]}}</td>
        </tr>
        <tr>
        	<td valign="top"><span class="modal-body-label">Extracts</span></td>
        	<td valign="top"> <div ng-repeat="extract in map.extracts[0]">{{extract}}</div></td>
        	<td valign="top"> <div ng-repeat="extract in map.extracts[1]">{{extract}}</div></td>
        </tr>
    </table>
    </div>
    
    <!-- for POI comparison -->
    <div ng-show="data.status == 'OLD' && data.cacheManagementView == 'BOTH'">
    The comparison section cannot be seen if the View type '<b>BOTH</b>' is being chosen.<br>
    </div>    
    
    <button type="submit" ng-click="refreshCache()" class="btn btn-primary">Do it!</button>
</div>

<div class="modal-footer">
   <button type="submit" ng-click="closeRefreshCache()" class="btn btn-primary">Close</button>
</div>