
<div ng-if="operation == 'new'" class="modal-header my-modal-header">
   <span class="modal-header-title">Creating a new POI</span>
</div>
<div ng-if="operation == 'edit'" class="modal-header my-modal-header">
   <span class="modal-header-title">Editing an existing POI</span>
</div>

<ng-form name="mainForm">
<div class="modal-body my-modal-body" style="max-height:550px; overflow:auto; padding-left: 0px;">

   <table class="modal-table">
      <tr>
         <td><span class="modal-body-label">POI name:</span></td>
         <td> <input name="poiNameInput" type="text" ng-model="poi.name" size="60" placeholder="(required)" required/> </td>
      <tr/>
      <tr>
         <td><span class="modal-body-label">Single value?</span></td>
         <td> <input name="poiSingleValueInput" type="checkbox" ng-checked="poi.singleValue == 'true'" ng-model="poi.singleValue" ng-disabled="poi.extracts.length > 1" ng-true-value="'true'" ng-false-value="'false'"/> </td>
      <tr/>
      <tr>
         <td><span class="modal-body-label">Encryption needed?</span></td>
         <td> <input name="poiencryptionNeededInput" type="checkbox"  ng-checked="poi.encryptionNeeded == 'true'" ng-model="poi.encryptionNeeded"/> </td>
      <tr/>
      <tr>
         <td><span class="modal-body-label">Service:</span></td>
         <td> <select name="poiServiceSelect" ng-model="poi.serviceId" ng-options="serv.id as serv.n for serv in services" required></select> </td>
      <tr/>
      <tr>
         <td colspan="2" valign="top"><span class="modal-body-label">Extracts:</span></td>
      </tr>
      <tr>
         <td colspan="2" >
            <div style="max-height:220px; max-width:850px; overflow:auto; padding-left: 0px;">
            <ul>
               <li ng-repeat="extract in poi.extracts">
                  <editable-cell-textbox value="extract" delete="deleteExtract($index)" update="updateExtractValue($index, val)" display-delete-icon="true"></editable-cell-textbox>
               </li>
            </ul>
            </div>
            <div ng-form="addExtractForm" style="padding-left: 20px;">
               Extract:
               <input type="text" ng-model="newExtractValue"/>
               <button id="newExtractButton" type="submit" ng-disabled="!(!!newExtractValue)" ng-click="addExtract()">Add</button>
            </div>
         </td>
      </tr>
      <tr>
         <td valign="top" ><span class="modal-body-label">Description:</span></td>
         <td> <textarea ng-model="poi.description" rows="4" cols="80" style="resize:vertical ;"></textarea> </td>
      <tr/>      
   </table>
</div>

<div class="modal-footer">
   <button type="submit" ng-click="save()" class="btn btn-primary" ng-disabled="mainForm.poiNameInput.$error.required || mainForm.poiServiceSelect.$error.required">Save</button>
   <button type="submit" ng-click="cancel()" class="btn btn-warning">Cancel</button>
</div>
</ng-form>


<div ng-controller="administration-poi-data.controller"></div>
