
<div ng-if="operation == 'new'" class="modal-header my-modal-header">
   <span class="modal-header-title">Creating a new Server</span>
</div>
<div ng-if="operation == 'edit'" class="modal-header my-modal-header">
   <span class="modal-header-title">Editing an existing Server</span>
</div>
<ng-form name="mainForm ">
<div class="modal-body my-modal-body">
   <table class="modal-table">
      <tr>
         <td><span class="modal-body-label">Server name:</span></td>
         <td> <input name="serverNameInput" type="text" ng-model="server.name" size="60" placeholder="(required)" required/> </td>
      <tr/>
      <tr>
         <td><span class="modal-body-label">Endpoint URL:</span></td>
         <td> <input name="serverUrlInput" type="text" ng-model="server.url" size="70" placeholder="(required)" required/> </td>
      <tr/>
   </table>
</div>

<div class="modal-footer">
   <button type="submit" ng-click="save()" class="btn btn-primary" ng-disabled="mainForm.serverNameInput.$error.required || mainForm.serverUrlInput.$error.required">Save</button>
   <button type="submit" ng-click="cancel()" class="btn btn-warning">Cancel</button>
</div>
</ng-form>

<div ng-controller="administration-server-data.controller"></div>
