
<div ng-if="operation == 'new'" class="modal-header my-modal-header">
   <span class="modal-header-title">Creating a new Service</span>
</div>
<div ng-if="operation == 'edit'" class="modal-header my-modal-header">
   <span class="modal-header-title">Editing an existing Service</span>
</div>

<ng-form name="mainForm">

<div class="modal-body my-modal-body" style="max-height:550px; overflow:auto; padding-left: 0px;">

   <table class="modal-table">
      <tr>
         <td><span class="modal-body-label">Service name:</span></td>
         <td> <input name="serviceNameInput" type="text" ng-model="service.name" size="60" placeholder="(required)" required/> </td>
      </tr>
      <tr>
         <td><span class="modal-body-label">Service type:</span></td>
         <td> <select ng-model="service.serviceType" ng-options="st.value as st.label for st in serviceTypes" ></select> </td>
      </tr>
      <tr ng-show="service.serviceType == 'WEBSERVICE'">
         <td><span class="modal-body-label">SOAP action:</span></td>
         <td> <input name="soapActionInput" type="text" ng-model="service.soapAction" size="60" placeholder="(required)" required/> </td>
      </tr>
      <tr ng-show="service.serviceType == 'REST'">
            <td><span class="modal-body-label">HTTP method:</span></td>
            <td> <select ng-model="service.httpMethod" ng-options="hm.value as hm.label for hm in httpMethods"></select> </td>
      </tr>
      <tr ng-show="service.serviceType == 'DATABASE'">
         <td valign="top"><span class="modal-body-label">Database query:</span></td>
         <td> <textarea name="databaseQueryTextarea"  ng-model="service.databaseQuery" rows="13" cols="85" style="resize:vertical ;"></textarea> </td>
      </tr>
      <tr>
         <td colspan="2" valign="top">
            <span class="modal-body-label" ng-show="service.serviceType == 'REST' || service.serviceType == 'WEBSERVICE'">Endpoints:</span>
            <span class="modal-body-label" ng-show="service.serviceType == 'DATABASE'">Datasource JNDI:</span>
         </td>
      </tr>
      <tr>
         <td colspan="2">
            <div style="max-height:90px; max-width:850px; overflow:auto; padding-left: 0px;">
            <ul>
               <li ng-repeat="endpoint in service.endpoints">
                  <editable-cell-textbox value="endpoint" delete="deleteEndpoint($index)" update="updateEndpoint($index, val)" display-delete-icon="true"></editable-cell-textbox>
               </li>
            </ul>
            </div>
            <div ng-form="addEndpointForm" style="padding-left: 20px;">
               <input type="text" name="newEndpointInput" ng-model="newEndpoint" style="width: 400px"/>
               <button type="submit" ng-disabled="!(!!newEndpoint)" ng-click="addEndpoint()">Add</button>
            </div>
         </td>
      </tr>
      <tr ng-show="service.serviceType == 'WEBSERVICE'">
         <td colspan="2" valign="top"><span class="modal-body-label">Namespaces:</span></td>
      </tr>
      <tr ng-show="service.serviceType == 'WEBSERVICE'">
         <td colspan="2">
            <div style="max-height:90px; max-width:850px; overflow:auto; padding-left: 0px;">
               <ul>
                  <!-- the list is being ordered => https://groups.google.com/forum/#!topic/angular/N87uqMfwcTs at the bottom (Sergey Gurevich ) -->
                  <li ng-repeat="prefixNamespace in notSorted(service.namespaces)" ng-init="valueNamespace = service.namespaces[prefixNamespace]">
                     <editable-cell-textbox value="prefixNamespace" update="updateNamespacePrefix($index, val)" display-delete-icon="false"></editable-cell-textbox>
                     &nbsp;:&nbsp;
                     <editable-cell-textbox value="valueNamespace" delete="deleteNamespace(prefixNamespace)" update="updateNamespaceValue(prefixNamespace, val)" display-delete-icon="true"></editable-cell-textbox>
                  </li>
               </ul>
            </div>
            <div ng-form="addNamespaceForm" style="padding-left: 20px;">
               <input type="text" name="newNamespacePrefixInput" ng-model="newNamespacePrefix" style="width: 80px"/>
               &nbsp;:&nbsp; 
               <input type="text" name="newNamespaceValueInput" ng-model="newNamespaceValue" style="width: 300px"/>
               <button type="submit" ng-disabled="!(!!newNamespacePrefix || !!newNamespaceValue)" ng-click="addNamespace()">Add</button>
            </div>
         </td>
      </tr>
      <tr ng-show="(service.serviceType == 'REST' && service.httpMethod != 'GET') || service.serviceType == 'WEBSERVICE'">
         <td><span class="modal-body-label">Request Template Text:</span></td>
         <td> <button type="submit" ng-click="showEditRequestTemplateText()">...</button> </td>
      <tr/>
      <tr>
         <td valign="top" ><span class="modal-body-label">Description:</span></td>
         <td> <textarea ng-model="service.description" rows="4" cols="80" style="resize:vertical ;"></textarea> </td>
      <tr/>
   </table>
</div>

<div class="modal-footer">
   <button type="submit" ng-click="save()" class="btn btn-primary" ng-disabled="(service.serviceType == 'WEBSERVICE' && (mainForm.serviceNameInput.$error.required || !(!!service.requestTemplateText) || mainForm.soapActionInput.$error.required)) || (service.serviceType == 'REST' && (mainForm.serviceNameInput.$error.required)) || (service.serviceType == 'DATABASE' && !(!!service.databaseQuery))">Save</button>
   <button type="submit" ng-click="cancel()" class="btn btn-warning">Cancel</button>
</div>
</ng-form>

<div ng-controller="administration-service-data.controller"></div>
