<div class="modal-header my-modal-header">
    <span class="modal-header-title">The forgotten services/POIs</span>
</div>

<div class="modal-body my-modal-body">
    Server: <b>{{data.server}}</b> <br><br>
    Showing the services/POIs that exist in the cache but were removed from DB<br><br>
    <div style="max-height:320px; max-width:800px; overflow:auto;">
    <div ng-show="data.cacheManagementView == 'SERVICE' || data.cacheManagementView == 'BOTH'">
    <b style="font-size: 20px">Services</b><br>
        <div ng-repeat="oneForgotten in forgottenList.SERVICE">
            <table class="modal-table table-odd-rows">
                <tr>
                    <td valign="top"><span class="modal-body-label">Name</span></td>
                    <td>{{oneForgotten.name}}</td>
                </tr>
                <tr>
                    <td valign="top"><span class="modal-body-label">Service Type</span></td>
                    <td>{{oneForgotten.serviceType}}</td>
                </tr>
                <tr ng-show="oneForgotten.serviceType == 'WEBSERVICE'">
                    <td valign="top"><span class="modal-body-label">SOAP Action</span></td>
                    <td>{{oneForgotten.soapAction}}</td>
                </tr>
                <tr ng-show="oneForgotten.serviceType == 'REST'">
                    <td valign="top"><span class="modal-body-label">HTTP method</span></td>
                    <td>{{oneForgotten.httpMethod}}</td>
                </tr>
                <tr>
                    <td valign="top"><span class="modal-body-label">Namespaces</span></td>
                    <td> <div ng-repeat="namespac in notSorted(oneForgotten.namespaces)">{{namespac}} : {{oneForgotten.namespaces[namespac]}}</div> </td>
                </tr>
                <tr>
                    <td valign="top"><span class="modal-body-label">Endpoints</span></td>
                    <td valign="top"> <div ng-repeat="endpoint in oneForgotten.endpoints">{{endpoint}}</div></td>
                </tr>
                <tr>
                    <td valign="top"><span class="modal-body-label">Request Template Text</span></td>
                    <td valign="top"> <textarea cols="42" rows="5">{{oneForgotten.requestTemplateText}}</textarea> </td>
                </tr>
            </table>
            <br>
        </div>
    </div>

    <div ng-show="data.cacheManagementView == 'POI' || data.cacheManagementView == 'BOTH'">
    <br><b style="font-size: 20px">POIs</b><br>
        <div ng-repeat="oneForgotten in forgottenList.POI">
            <table class="modal-table table-odd-rows">
                <tr>
                    <td valign="top"><span class="modal-body-label">Name</span></td>
                    <td>{{oneForgotten.name}}</td>
                </tr>
                <tr>
                    <td valign="top"><span class="modal-body-label">Single value</span></td>
                    <td>{{oneForgotten.singleValue}}</td>
                </tr>
                <tr>
                    <td valign="top"><span class="modal-body-label">EncryptionNeeded</span></td>
                    <td>{{oneForgotten.encryptionNeeded}}</td>
                </tr>
                <tr>
                    <td valign="top"><span class="modal-body-label">Service</span></td>
                    <td>{{oneForgotten.serviceDTO.name}}</td>
                </tr>
                <tr>
                    <td valign="top"><span class="modal-body-label">Extracts</span></td>
                    <td> <div ng-repeat="extract in oneForgotten.extracts">{{extract}}</div> </td>
                </tr>
            </table>
            <br>
        </div>
    </div>
    </div>
	
	<br>The services/POIs that exist in the cache but not in DB can be removed by clicking on 'Remove all'<br>
	<button type="submit" ng-click="deleteForgottenOnes()" class="btn btn-primary">Remove all</button>
</div>

<div class="modal-footer">
   <button type="submit" ng-click="close()" class="btn btn-primary">Close</button>
</div>